*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Varela Round','Lucida Grande', 'Source Sans Pro', Helvetica, Arial, sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: #2f4f4f;
    --clr-theme-primary: lightpink;
    --clr-theme-secondary: #fff0f5;
		--clr-post-theme-primary: ;
		--clr-post-theme-secondary: orangered;

    --fs-h1: 3rem;
    --fs-h2: 2.25;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15),
          0.0625em 0.0625em 0.125em rgba(0,0,0,.075);
}

h1 {
  padding: 30px;
  text-align: center;
  background: var(--clr-theme-secondary);
  color: var(--clr-dark);
  font-size: var(--fs-h1);
}

/* general styling begin */

body {
	background: var(--clr-light);
	color: var(--clr-dark);
	margin-top: 4rem;
	padding: 4rem 0 4rem 0;
	
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
	text-align: center;
}

ol,
ul,
li {
	list-style: none;
}

/* general styling end */


input[type='submit'],
button.centre-button {
  padding: 5px 15px;
  background: rgb(243, 98, 31);
  color: var(--clr-light);
  border: none;
  cursor: grab;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

input[type='password'],
input[type='text'],
input[type='email'] {
  border-radius: 5px;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
}

::placeholder {
  color: #eb5844;
	text-align: center;
	padding-top: 30px; 
}
a {
  color: #00b7ff;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff; 
}
div {
	width: 80%;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem 0.25rem 0.25rem;
  background-color: cornsilk;
}

.posts {
  cursor: pointer;
  border: 1px solid rgb(156, 130, 25);
  overflow-wrap: break-word;
  margin: 10px;
	margin-bottom: 2rem;
	box-shadow: var(--bs);
  border: 2px solid var(--clr-theme-primary);
  border-left: 10px solid var(--clr-theme-primary);
}

.single_post {
  border: 2px solid var(--clr-theme-primary);
  overflow-wrap: break-word;
  margin: 10px;
  border-left: 10px solid var(--clr-theme-primary);
	box-shadow: var(--bs);
}

.comments {
  background-color: var(--clr-theme-primary);
  overflow-wrap: break-word;
  border: 2px solid var(--clr-post-theme-secondary);
  border-left: 10px solid var(--clr-post-theme-secondary);
  margin: 10px;
	box-shadow: var(--bs);
}

body {
  background: var(--clr-light); 
  font-family: var(--ff-primary);
}

.form-inline {
  display: inline-block;
}

.navbar {
	position: fixed;
  background: var(--clr-light);
  display: flex;
	flex-direction: row;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
  box-shadow: var(--bs);
	text-align: center;
}

.nav-link {
	text-align: center;
	padding: 1em 1.5em;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
}

.navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  font-size: 20px;
  padding: 0 0 0 1rem;
  font-family: var(--ff-primary);
}
.navbar .navbar-brand b {
  font-weight: bold;
  color: #eb5844;
}
.navbar .navbar-nav a:hover,
.navbar .navbar-nav a:focus {
	transition: 200ms;
	background-color: var(--clr-dark);
  color: #f08373 !important;
}
.navbar .navbar-nav a.active,
.navbar .navbar-nav a.active:hover {
  color: #eb5844 !important;
  background: transparent !important;
}
.search-box {
  position: relative;
}
.search-box input.form-control {
  padding-right: 35px;
  border-radius: 0;
  padding-left: 0;
  border-width: 0 0 1px 0;
  box-shadow: none;
}
.search-box input.form-control:focus {
  border-color: #f08373;
}
.search-box .input-group-text {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px 0 7px 7px;
  height: 100%;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}
.navbar .nav-item i {
  font-size: 18px;
}
.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .nav-item.show > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: var(--clr-theme-secondary);
  box-shadow: var(--bs);
}
.navbar .dropdown-menu a {
  color: var(--clr-dark);
  padding: 8px 20px;
  line-height: normal;
  font-size: 15px;
	text-align: center;
}
.navbar .navbar-form {
  margin-right: 0;
  margin-left: 0;
  border: 0;
}
@media (min-width: 992px) {
  .form-inline .input-group {
    width: 250px;
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .form-inline {
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .input-group {
    width: 100%;
  }
}

section {
	display: inline-block;
	text-align: center;
	height: max-content;
}

.login_section,
.signup_section,
.form_section {
	width: 100%;
}

.individual_post_section {
	display: block;
	padding: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}

.comment {
	display: inline-block;

}

.time_stamp {
	font-size: small;
}