<html>
	<head>
		{{!-- {{#each css}} --}}
        {{!-- <link rel="stylesheet" href="../css/{{this}}"> --}}
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheet/style.css'/>
	</head>
	<body>
		{{{body}}}
	</body>
</html>