<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to Acebook Sign Up Page</h1>
    <form id="newUser" action="/signup" method="POST">
      <input type='text' id="newHandle" name="newHandle" />
      <br>
      <input type='password' id="newPassword" name="newPassword"/>
      <br>
      <input type='email' id="newEmail" name="newEmail"/>
      <br></br>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>