<!DOCTYPE html>
<html>
  <head>


  </head>
  <body>
    <h1>Welcome to Acebook Sign Up Page</h1>
    <form action="/signup" method="POST">
      <input type='text' id="newUsername" />
      <br>
      <input type='text' id="newPassword" />
      <br></br>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>