<h1>Welcome to Acebook</h1>
<form action="/login" method="POST" name="login_form">
<input type="text" name="user_name">
<input type="text" name="user_password">
<input type="submit" value="Login">
</form>