<h1>Post</h1>
{{#each post}}
  <div id='{{this.id}}'>{{this.message}}</div>
  <form action="/id/like/new" method="post" id="likeButton">
  <input type="text" id="user" name="user"><br>
  <input type="text" id="post" name="post"><br>
  <button type="submit" value="Submit">Like</button>
  </form>
{{/each}}
{{#each comments}}
  <div id='{{this.id}}'>{{this.comment}}</div>
{{/each}}
