<h1>Posts</h1>

<form action='/posts/new' method='POST'>
  <input
    type='text'
    class='post_text'
    placeholder="What's on your mind?"
    name='text'
  />
  <input type='submit' value='Submit' />
</form>

<ul class='posts_list'>
  {{#each posts}}
    <div
      class='posts'
      id='{{this.id}}'
      onclick="window.location.href='/posts/{{this.id}}'"
    >{{this.message}}</div>

  {{/each}}
</ul>