<h1>Posts</h1>

<form action='posts/new'>
  <input type="text" class="post_text" placeholder="What's on your mind?">
  <input type="submit" value="Submit">
</form>

<ul class="posts_list">
  {{#each posts}}
    <li class="posts">{{this.message}}</li>
  {{/each}}
</ul>